.fa-color-info {
    color: #1ab394 !important;
}

.fa-color-alert {
    color: #ed5565 !important;
}

.bg-black {
    background: #333333;
}

.bg-dark-grey {
    background: #404040;
}

.bg-col-dark-grey {
    background-color: #404040 !important;
}

.bg-white {
    background: #ffffff !important;
}

.bg-green {
    background: #1ab394;
}

.bg-yellow {
    background: #f8ac59;
}

.bg-red {
    background: #ed5565;
}

.bg-blue {
    background: #1c84c6;
}

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 0px;
}

.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.triangle-border {
    position: relative;
    padding: 15px;
    margin: 0em 0 3em;
    border-top: none;
    color: #333;
    background: #fff;
}

.triangle-border-left:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width:  0;
    border-style: solid;
    border-color: #f8ac59 transparent;
    display: block;
    width: 0;
}

.triangle-border-left:after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 44px;
    border-width: 16px 16px 0px;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

.triangle-border-right:before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 40px;
    border-width:  0;
    border-style: solid;
    border-color: #f8ac59 transparent;
    display: block;
    width: 0;
}

.triangle-border-right:after {
    content: "";
    position: absolute;
    bottom: -16px;
    right: 44px;
    border-width: 16px 16px 0px;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}
.fa-color-notice {
    color: #1c84c6 !important;
}

.text-muted-more {
    color: #ccc !important;
}
.text-muted-more a {
    color: #ccc !important;
}
.text-muted-more a:hover {
    color: #337ab7 !important;
}
.text-inactive {
    opacity: 0.7;
}
.text-more-inactive {
    opacity: 0.3;
}